@media only screen and (max-width: 900px){

    .body1{
        padding: 20px;
        width: 100%;
        margin: 80px 0px;
    }

    .containt{
        top: 30px;
        width: 92%;
        margin-left: 0px;
        margin-top: 100px;
    }

    .honor2{
        margin: 15px;
        width: 100%;
        margin-left: 0px;
        padding: 10px;
        text-align: center;
    }

    .staff img{
        width: 50%;
        border-radius: 50%;
        height: 110px;
    }

    .dashboard h1{
        font-size: 16px;
    }

    .dashboard h2{
        font-size: 20px;
    }
    .dashboard img{
        width: 50px;
        height: 50px;
    }

    .dashboard .logout{
        float: right;
        padding: 5px;
        margin-top: -30px;
    }

    .picture{
        margin: 20px;
    }

    .picture img{
        margin-top: -60px;
        margin-right: -40px;
    }

}

@keyframes slide{

}