
{% load static %}
{% static "medians" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>walletedit</title>

    <link rel="icon" href="{% static 'static/img/005.jpg' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-3.7.0.js' %}">
    <link rel="stylesheet" href="{% static 'js/js.js' %}">

</head>
<body>
    <div class="">

        <div class="col-md-12 deposite">
            <div class="col-md-12 deposite1">
                <div style="padding: 15px;">
                    <a href="{% url 'adminpage' %}" style="color: white; border: 1px solid gold; border-radius: 5px; padding: 5px;">
                        <i class="fa fa-mail-reply"> Back</i>
                    </a>
                </div>
                <div class="col-md-12 dobox">
                    <div class="table">
                        <form method="POST" action="" class="edit">

                            {% csrf_token %}

                            <table class="table">
                                <thead>
                                    <tr class="theader">
                                        <th scope="col">address type</th>
                                        <th scope="col">address number</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" placeholder="enter type" name="type">
                                        </td>
                                        <td>
                                            <input type="text" placeholder="enter number" name="address">
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <div class="col-md-12">
                                <div>
                                    <button>Add</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-12 dobox" style="margin-top: 10px;">
                    <div class="table" style="height: 250px; overflow-y: scroll;">
                        <table class="table">
                            <thead>
                                <tr class="theader">
                                    <th scope="col">address type</th>
                                    <th scope="col">address number</th>
                                    <th scope="col">delete address</th>
                                </tr>
                            </thead>
                            {% for wallet in wallet %}
                                <tbody>
                                    <tr>
                                        <td>
                                            {{wallet.type}}
                                        </td>
                                        <td>
                                            {{wallet.address}}
                                        </td>
                                        <td>
                                            <a href="{% url 'walletdelete' wallet.id %}" style="color: red;">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>